{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


<title>
    {% block title %}Smart Car Service{% endblock %}
</title>

<link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
    rel="stylesheet"
>

<link
    rel="stylesheet"
    href="{% static 'vehicles/css/style.css' %}"
>


</head>

<body>


<header>

    <!-- LOGO -->
    <a href="{% url 'home' %}" class="logo">
        🚗 Smart<span>Car</span>Service
    </a>

    <!-- NAVIGATION -->
    <nav>

        <!-- Landing Page -->
        <a href="{% url 'home' %}" class="nav-link home-link">
            Home
        </a>

        <!-- Vehicles -->
        <a href="{% url 'vehicle_list' %}" class="nav-link">
            Vehicles
        </a>

        <!-- Technicians -->
        {% if user.is_authenticated %}
            {% if user.role == user.Role.ADMIN or user.role == user.Role.MANAGER %}
                <a href="{% url 'technician_list' %}" class="nav-link">
                    Technicians
                </a>
            {% endif %}
        {% endif %}

        <!-- Maintenance -->
        <a href="{% url 'maintenance_list' %}" class="nav-link">
            Maintenance
        </a>

        <!-- Due Services -->
        <a href="{% url 'due_services' %}" class="nav-link">
            Due Services
        </a>

        <!-- Appointments -->
        <a href="{% url 'appointment_list' %}" class="nav-link">
            Appointments
        </a>

        <!-- AI Assistant -->
        <a href="{% url 'chat_page' %}" class="nav-link assistant-link">
            💬 Assistant
        </a>

        <!-- SUPER ADMIN -->
        {% if user.is_authenticated and user.role == user.Role.ADMIN %}
            <a href="{% url 'admin:index' %}" class="nav-link">
                ⚙ Admin
            </a>
        {% endif %}

        {% if user.is_authenticated %}

            <!-- Logged-in User -->
            <span class="user-name">
                👤 {{ user.username }}
            </span>

            <!-- Logout -->
            <form
                action="{% url 'logout' %}"
                method="post"
                class="logout-form"
            >
                {% csrf_token %}

                <button type="submit">
                    Logout
                </button>
            </form>

        {% else %}

            <!-- Login -->
            <a href="{% url 'login' %}" class="nav-link">
                Login
            </a>

            <!-- Register -->
            <a href="{% url 'register' %}" class="nav-link">
                Register
            </a>

        {% endif %}

    </nav>
</header>

<!-- PAGE CONTENT -->
<main class="{% block main_class %}{% endblock %}">
    {% block content %}
    {% endblock %}
</main>

<script src="{% static 'vehicles/js/main.js' %}"></script>


</body>
</html>
